[Unit]
Description=AWCC AutoBoost Fan Manager
After=graphical.target
Wants=graphical.target
# ConditionPathExists=/etc/awcc/autoboost.conf

# FIXME: needs a refresh after sleep/hibernate

[Service]
Type=simple
ExecStart=/usr/local/bin/awcc_autoboost
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target

# vim:ft=systemd
