name: "Build and Upload"
on:
    push:
        tags: ["v*.*.*"]

jobs:
    build-and-upload:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Set CMake project version to release
              run: |
                  VERSION="${GITHUB_REF_NAME#v}"
                  sed -i 's/project(awcc LANGUAGES CXX VERSION .*)/project(awcc LANGUAGES CXX VERSION '"$VERSION"')/' CMakeLists.txt

            - name: Install dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install git meson ninja cmake libx11-dev libgl-dev pkgconf g++-13 libxkbcommon-dev

            - name: Build AWCC
              run: |
                  mkdir build
                  cd build
                  cmake .. -G Ninja
                  ninja
                  cd ..

            - name: Prepare release files
              run: |
                  mkdir release
                  cp build/awcc release/
                  cp -r app release/
                  cp database.json release/
                  cp LICENSE release/

            - name: Create tarball with awcc binary, app folder, and LICENSE
              run: |
                  tar -czvf AWCC-${{ github.ref_name }}.tar.gz -C release awcc app LICENSE database.json

            - name: Upload tarball as release asset
              uses: softprops/action-gh-release@v2
              with:
                  files: AWCC-${{ github.ref_name }}.tar.gz
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
